#content {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#fact-container {
  margin-top: 20px;
  text-align: center;
}

header {
  background:white; 
  padding-top: 10px;
  box-sizing: border-box;
  min-height: 15vh;
  position: relative;
}

footer {
    background: #B9D2FC; 
    padding: 10px; 
    position : relative;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: black;
    color: white; 
}

.fa-linkedin {
    background: #0e76a8;
    color: white;
}

#social {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family:monospace; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#buttons {
  transition-duration: 0.4s;
  background-color: #195E75;
  color: white; 
  text-align: center; 
  border-radius: 10px; 
  padding: 15px 32px;
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

#buttons:hover {
  background-color: #B9D2FC;
  color: white;
} 

#main-pic {
    height:500px;
    width: 375px; 
    object-fit: scale-down;
}

nav ul {
    list-style: none; 
    margin: 0px;
    padding: 20px;
}

nav li {
    display: inline-block;
    margin-left: 150px;
    margin: 10px;
    padding-top: 25px;
}

nav {
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 18px;
}

nav a {
    color:#B9D2FC; 
    text-decoration: none; 
}

nav a:hover {
    color: black; 
}

#container {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: black;
  margin: 0 auto;
}

/* Animation for typewrite text */
#container {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 650px;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}

figure {
    padding: 25px 0px;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    color: black; 
    margin: 0;
    padding: 50px 25px 10px 25px;
}

.row {
    box-sizing: border-box; 
    display: flex;
    transition: 0.3s; 
    border-radius: 5px; 
    margin: 0 -5px; 
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 20px;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 20px 20px 20px 20px; 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    text-align: center;
    background-color: #E8F0FE; 
}

.panel {
    background-color: whitesmoke;
    text-align: center;
    padding: 16px;
    align-content: center;
}

textarea {
    color: #3B5998;  
    resize: none;

}

section ul {
    list-style: none; 
}

section {
    text-align: justify;
}

button {
    padding: 5px 5px;
    border-radius: 4px;
    background-color: whitesmoke;
    color: black;
    border: 2px solid #2C7AFC; 
}

button:hover {
  background-color: #B9D2FC; 
  color: white;
  font-weight: bold;
}

select {
    background-color: #2C7AFC;
    border: 0;
    padding: 5px 5px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

input {
    padding: 5px 5px;
    border-radius: 4px;
    background-color: whitesmoke;
    color: black;
    border: 2px solid #2C7AFC; 
}

sentence-list {
    padding-left: 0px !important;
}

input:hover {
  background-color: #B9D2FC; 
  color: white;
  font-weight: bold;
}

#instructions {
    padding-bottom: 15px;
    width: 100% !important;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    justify-content: center;
    width: 75%;
}

.inner-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px 10px 16px 10px;
    text-align: center;
    background-color: white; 
    width: 900px;
}